<footer class="footer1 sticky-bottom py-3">
    <div class="row my-3 justify-content-center text-white ">
        <div class="col-11">
            <div class="row">
                <div class="col-xl-8 col-md-0 col-sm-4 col-12 my-auto mx-auto a">
                    <h3 class="text-muted mb-md-0 mb-5 bold-text align-self-start">University College of Engineering , Nagercoil</h3>
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <h4 class="mb-2 mb-lg-4 bold-text "><b>Developed by</b></h4>
                    <ul class="list-unstyled">
                        <li>Department of Information Technology</li>


                    </ul>
                </div>

            </div>
            <div class="row ">
                <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                    <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                        <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> UCEN All Rights Reserved.</small>
                </div>

            </div>
        </div>
    </div>
</footer>